[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.7.1"
asttokens = "==1.1.13"
birdseye = "==0.8.2"
cached-property = "==1.5.1"
certifi = "==2018.11.29"
chardet = "==3.0.4"
click = "==7.0"
future = "==0.17.1"
humanize = "==0.5.1"
idna = "==2.8"
itsdangerous = "==1.1.0"
littleutils = "==0.2.1"
outdated = "==0.2.0"
psycopg2 = "==2.7.7"
psycopg2-binary = "==2.7.7"
pytz = "==2018.9"
qualname = "==0.1.0"
requests = "==2.21.0"
six = "==1.12.0"
urllib3 = "==1.24.2"
whitenoise = "==4.1.2"
Django = "==2.2.10"
cheap_repr = "==0.2.0"
Flask = "==1.0.2"
Flask-Humanize = "==0.3.0"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.0"
SQLAlchemy = "==1.2.17"
Werkzeug = "==0.15.3"

[requires]
python_version = "3.7"
